---
http_interactions:
- request:
    method: post
    uri: https://sns.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Publish&Message=%7B%22id%22%3A1%2C%22email%22%3A%22test%40example.com%22%7D&MessageAttributes.entry.1.Name=event&MessageAttributes.entry.1.Value.DataType=String&MessageAttributes.entry.1.Value.StringValue=user_registered&MessageAttributes.entry.2.Name=version&MessageAttributes.entry.2.Value.DataType=String&MessageAttributes.entry.2.Value.StringValue=1.1&MessageDeduplicationId=bd89a7ad-1e30-48e1-a2b3-8fb0a26d380c&MessageGroupId=message_group_id&TopicArn=arn%3Aaws%3Asns%3Aus-west-2%3A<ACCOUNT_NUMBER>%3Aevent-hub.fifo&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230623T170249Z
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 4f51e91e-dbf7-50bb-8b22-b411098d6dd5
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <PublishResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <PublishResult>
            <SequenceNumber>10000000000270686000</SequenceNumber>
            <MessageId>20bc19d1-c743-5818-bb61-44de15390576</MessageId>
          </PublishResult>
          <ResponseMetadata>
            <RequestId>4f51e91e-dbf7-50bb-8b22-b411098d6dd5</RequestId>
          </ResponseMetadata>
        </PublishResponse>
  recorded_at: Fri, 23 Jun 2023 17:02:50 GMT
- request:
    method: post
    uri: "<QUEUE_URL>"
    body:
      encoding: UTF-8
      string: Action=ReceiveMessage&MaxNumberOfMessages=10&MessageAttributeName.1=All&QueueUrl=https%3A%2F%2Fsqs.us-west-2.amazonaws.com%2F<ACCOUNT_NUMBER>%2Fmarket-data-events.fifo&Version=2012-11-05&WaitTimeSeconds=15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230623T170250Z
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3edf0a9e-628e-5e0c-b37f-5791b0f59008
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><MessageId>0e22e3de-31bc-42cf-bb74-c54b06c302df</MessageId><ReceiptHandle>AQEBrmwtxkRfSwTPrA2T9uS7eEYpbPIvFsAZaw2D/i30VK9f6T7cAiVViUZuBGfFTeDNNJBCCO71XOPmOtxwxTQihxs1ohJUYDJQ0sEyzu5OD7WJ/4VNrzKxnj67/CN6AvO9RfGi4YeVqKCddyZqHXOIrHPiypUcCClHJNm3Cr8787CeL+FS2ZmotHsn+l8RjxG+D13uz0lAfQKV9MWU9ta6Tgttt+QwK/oCyz2lS8Z8kYFHItyYVYfJplROVSI5PvcpDQ4/G0wlGWQebsBqGYZOGxKlAM5Uuurpw163z2dInKU=</ReceiptHandle><MD5OfBody>599351bec72cd3d3c7cab8edd27fef5a</MD5OfBody><Body>{
          &quot;Type&quot; : &quot;Notification&quot;,
          &quot;MessageId&quot; : &quot;20bc19d1-c743-5818-bb61-44de15390576&quot;,
          &quot;SequenceNumber&quot; : &quot;10000000000270686000&quot;,
          &quot;TopicArn&quot; : &quot;<EXCHANGE_ARN>&quot;,
          &quot;Message&quot; : &quot;{\&quot;id\&quot;:1,\&quot;email\&quot;:\&quot;test@example.com\&quot;}&quot;,
          &quot;Timestamp&quot; : &quot;2023-06-23T17:02:50.129Z&quot;,
          &quot;UnsubscribeURL&quot; : &quot;https://sns.us-west-2.amazonaws.com/?Action=Unsubscribe&amp;SubscriptionArn=<EXCHANGE_ARN>:b1fe8a57-da7d-4f58-992e-a1178bc5a7bc&quot;,
          &quot;MessageAttributes&quot; : {
            &quot;event&quot; : {&quot;Type&quot;:&quot;String&quot;,&quot;Value&quot;:&quot;user_registered&quot;},
            &quot;version&quot; : {&quot;Type&quot;:&quot;String&quot;,&quot;Value&quot;:&quot;1.1&quot;}
          }
        }</Body></Message></ReceiveMessageResult><ResponseMetadata><RequestId>3edf0a9e-628e-5e0c-b37f-5791b0f59008</RequestId></ResponseMetadata></ReceiveMessageResponse>
  recorded_at: Fri, 23 Jun 2023 17:02:51 GMT
- request:
    method: post
    uri: "<QUEUE_URL>"
    body:
      encoding: UTF-8
      string: Action=DeleteMessage&QueueUrl=https%3A%2F%2Fsqs.us-west-2.amazonaws.com%2F<ACCOUNT_NUMBER>%2Fmarket-data-events.fifo&ReceiptHandle=AQEBrmwtxkRfSwTPrA2T9uS7eEYpbPIvFsAZaw2D%2Fi30VK9f6T7cAiVViUZuBGfFTeDNNJBCCO71XOPmOtxwxTQihxs1ohJUYDJQ0sEyzu5OD7WJ%2F4VNrzKxnj67%2FCN6AvO9RfGi4YeVqKCddyZqHXOIrHPiypUcCClHJNm3Cr8787CeL%2BFS2ZmotHsn%2Bl8RjxG%2BD13uz0lAfQKV9MWU9ta6Tgttt%2BQwK%2FoCyz2lS8Z8kYFHItyYVYfJplROVSI5PvcpDQ4%2FG0wlGWQebsBqGYZOGxKlAM5Uuurpw163z2dInKU%3D&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230623T170251Z
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 36f06a84-9ba9-5815-bd98-378b49d2f611
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><DeleteMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ResponseMetadata><RequestId>36f06a84-9ba9-5815-bd98-378b49d2f611</RequestId></ResponseMetadata></DeleteMessageResponse>
  recorded_at: Fri, 23 Jun 2023 17:02:51 GMT
recorded_with: VCR 6.1.0
